$blue-main:#013c74 ;
$blue-primary:#0b6eab ;
$black-main:#000;
$white-main:#fff;
$gray-main:#F3F4F6 ;
$orange-main: #ff7500;
//màu xanh đậm : #013c74
// màu xanh sáng: #0b6eab
// màu cam logo: #ff7500